<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CarSharedDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\Users\kasmi.h\source\repos\CarShared\CarShared\CarShared.WebUI\App_Data\CarSharedDB.mdf;Initial Catalog=CarSharedDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>