
@{
    ViewBag.Title = "Index";
}

<h2>La Ville de <font color="red"> @ViewBag.message</font> a bien été ajoutée </h2>

<h2>Gérer mon site</h2>
@Html.ActionLink("Gérer des villes", "GetCityByCountry", "City")


